body {
  background: linear-gradient(60deg, #fab295 25%, #aab6fb);
  color: #2a2929;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 20px;
}
.about-me__round {
  border: 7px solid #aab6fb;
  box-shadow: 0px 0px 90px #7f54f5;
}
.header__nav {
  font-weight: 700;
}
.header__nav a:hover {
  color: #31e8ff;
}
.header {
  position: fixed;
  color: #fff;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 10;
  background-color: #7f54f5;
}
.skills {
  background-image: linear-gradient(0deg, #aab6fb 30%, #7f54f5);
}
.project__button,
.project__button--painter {
  background: #7f54f5;
}
.experience__job:not(:last-child)::before {
  background-color: #4a36ff;
}
.experience__year::before {
  background-color: #a89efd;
}
.experience__description::before {
  background-image: url("../images/checkmark2.svg");
}
.footer__links {
  color: #1b1b1b;
}
.education__item:not(:last-child)::before {
  background-color: #a89efd;
}
.education__list a:hover {
  color: #a89efd;
  border-color: #a89efd;
}
.experience__code {
  background-image: linear-gradient(0deg, #aab6fb 30%, #7f54f5);
}
.footer__links:hover {
  color: #a89efd;
}
.footer__links:hover img {
  box-shadow: 30px #ffffff;
  border-radius: 50px;
  background-color: #cdc9f3;
  fill: #a89efd;
}

.arrow-change {
  box-shadow: 0 0 60px #aab6fb;
}
.arrow-change {
  background: #7f54f5;
}
.theme-change {
  box-shadow: 0 0 60px #aab6fb;
}

.theme-change {
  background: #7f54f5;
}

.moon path {
  fill: transparent;
  stroke: #31e8ff;
}
.moon path {
  stroke-dasharray: 127;
  stroke-dashoffset: 0;
}
.moon:hover path {
  animation: animate-moon 1s linear forwards;
}
@keyframes animate-moon {
  0% {
    stroke-dashoffset: 0;
  }
  50% {
    stroke-dashoffset: 127;
  }
  100% {
    stroke-dashoffset: 354;
    fill: #31e8ff;
  }
}
